h1 Welcome to nodechat!
h3 This is a mean stack app exercise using web sockets and postgreSQL.

form
  input(type='text', name='name', placeholder='Bobby' required maxlength='10')
  input(type='text', name='text', placeholder='Howdy!' required maxlength='50')
  input(type='submit')

ul

script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')
